<html>
  <head>
    <!-- PureCSS for grid system -->
    <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/grids-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" crossorigin="anonymous">


    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!--
    <div class="pure-g">
      <div class="pure-u-1-3"><p>Thirds</p></div>
      <div class="pure-u-1-3"><p>Thirds</p></div>
      <div class="pure-u-1-3"><p>Thirds</p></div>
    </div>
  -->


    <script src="/javascripts/index.js"></script>
  </body>
</html>
