<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="welcome-container" id="welcome">
      <div class="welcome">
        <div class="main" onclick="changeColor()">
          <span id="name">ДМИТРИЙ КАБАРУХИН</span><span id="profession">, web developer</span>
        </div>
        <div class="menu">
          <a href="#about">Обо мне</a> / <a href="#contacts">Контакты</a> / <a target="_blank" href='https://github.com/theDimZone'>GitHub</a>
        </div>
      </div>
    </div>

    <div class="about-container" id="about">
      <div class="about">
        <div class="menu">
            <a href="#"><- назад</a> / <a href="#contacts">Контакты</a> / <a target="_blank" href='https://github.com/theDimZone'>GitHub</a>
        </div>
        <div class="about-main">
          <img onclick="changeAvatar()" src="/images/hero.png" id="avatar">
          <div class="desc">
            <ul>
              <li>
                Учусь в СТАНКИНе
              </li>
              <li>
                Опыт работы ~1 год
              </li>
              <li>
                Rails, Angular, .NET
              </li>
              <li>
                Быстро обучаюсь новому
              </li>
              <br>
              <li>
                Любимая группа: The Amity Affliction
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="contacts-container" id="contacts">
      <div class="contacts">
        <div class="menu">
            <a href="#about"><- назад</a> / <a target="_blank" href='https://github.com/theDimZone'>GitHub</a>
        </div>
        <div class="contacts-main">
          <div class="desc">
            vk: <a href="https://vk.com/thedimzone" target="_blank">
              vk.com/thedimzone
            </a>
            <br>
            discord: defend post hardcore#1931
            <br>
            email: thedimzone99@gmail.com
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
